@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);




:root {

    /*------ COLORS ------*/

    --clr-neutral900: #030303;
    --clr-neutral400: #6A6662;
    --clr-neutral200: #FFF7F0;
    --clr-neutral0: #ffffff;

    --clr-light-red: #E16B5B;
    --clr-galactic-blue: #755CDE;
    --clr-summer-yellow: #F6A560;
    --clr-pink: #F39E9E;
    --clr-cyan: #61C4B7;
    --clr-dark-purple: Dark Purple 500;


    /* --- Font Family --- */

    --font-family-primary: "Plus Jakarta Sans", sans-serif;


    /* --- Font Weight --- */

    --font-weight-medium: 500;
    --font-weight-bold: 700;


    /* --- Font Size --- */

    --font-size-xxl: 56px;
    --font-size-xl: 40px;
    --font-size-lg: 24px;
    --font-size-md: 18px;
    --font-size-sm: 16px;


    /* --- Line Height --- */

    --line-height-tight: 1.2;
    --line-height-normal: 1.3;
    --line-height-relaxed: 1.5;

}

@media (max-width: 768px) {

    :root {
        --text-preset-1-size: var(--font-size-xl);
        --text-preset-1-line-height: var(--line-height-tight);
    }

}


.text-present-1 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-default);
}

.text-present-2 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-default);
}

.text-present-3 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-default);
}

.text-present-4 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-md);
    line-height: var(--line-height-relaxed);
    letter-spacing: var(--letter-spacing-default);
}

.text-present-5 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-relaxed);
    letter-spacing: var(--letter-spacing-default);
}