@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);




:root {

    /*------ COLORS ------*/

    --clr-neutral900: #030303;
    --clr-neutral400: #6A6662;
    --clr-neutral200: #FFF7F0;
    --clr-neutral0: #ffffff;

    --clr-light-red: #E16B5B;
    --clr-galactic-blue: #755CDE;
    --clr-summer-yellow: #F6A560;
    --clr-pink: #F39E9E;
    --clr-cyan: #61C4B7;
    --clr-dark-purple: #552049;


    /* --- Font Family --- */

    --font-family-primary: "Plus Jakarta Sans", sans-serif;


    /* --- Font Weight --- */

    --font-weight-medium: 500;
    --font-weight-bold: 700;


    /* --- Font Size --- */

    --font-size-xxl: 56px;
    --font-size-xl: 40px;
    --font-size-lg: 24px;
    --font-size-md: 18px;
    --font-size-sm: 16px;


    /* --- Line Height --- */

    --line-height-tight: 1.2;
    --line-height-normal: 1.3;
    --line-height-relaxed: 1.5;

}

@media (max-width: 768px) {

    :root {
        --text-preset-1-size: var(--font-size-xl);
        --text-preset-1-line-height: var(--line-height-tight);
    }

}


/*------ CSS RESET START ------*/


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/*------ CSS RESET END ------*/


body {
    padding-block: 2rem 4rem;
    background-color: var(--clr-neutral200);
}

h1,
.text-present-1 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-default);
}

h2,
.text-present-2 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-default);
}

h3,
.text-present-3 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-default);
}

p,
.text-present-4 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-md);
    line-height: var(--line-height-relaxed);
    letter-spacing: var(--letter-spacing-default);
}

button,
.text-present-5 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-relaxed);
    letter-spacing: var(--letter-spacing-default);
}


/*------ MAIN ------ */

main {
    padding-inline: 10.3125rem;
    text-align: center;
}

header,
footer {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: var(--clr-neutral900);
    color: var(--clr-neutral0);
    border-radius: 1.875rem;
    padding: 1rem 3rem;
}

.design-text {
    margin-block: 5rem;
}

.design-text h1 {
    margin-block-end: 1.25rem;
}

.box {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
}


.solutions {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas:
        "graphic  ui apps photography "
        "graphic  illustrations illustrations motion";
    gap: 1.5rem;
    max-width: 69.375rem;
    min-block-size: 22.75rem;
    margin-inline: auto;
}

.solutions h3 {
    text-align: start;
}

.solutions img {
    margin-left: auto;
}


.graphic {
    grid-area: graphic;
    background-color: var(--clr-galactic-blue);

}

.ui {
    grid-area: ui;
    background-color: var(--clr-summer-yellow);
}

.apps {
    grid-area: apps;
    background-color: var(--clr-pink);
}

.photography {
    grid-area: photography;
    background-color: var(--clr-cyan);
}

.illustrations {
    grid-area: illustrations;
    background-color: var(--clr-light-red);
}

.motion {
    grid-area: motion;
    background-color: var(--clr-dark-purple);
}



/*------ ABOUT--------*/


.about {
    margin-block: 7.5rem;
    margin-inline: 10.3125rem;
    max-width: 1100px;
    display: flex;
    gap: 150px;
    justify-content: space-between;

    margin-inline: auto;

}

.about img {
    width: 445px;
    height: 445px;
    flex: 1;
}

.about-text {
    margin-block: 70px;
    flex: 1;
}

.about p {
    margin-block: 2rem;
}

.btn {
    background-color: #E16B5B;
    border: none;
    padding: 1rem 3rem;

}


/*------ CONTACT------*/


.contact-wrapper {
    margin-inline: auto;
    margin-block-start: 7.5rem;
    max-width: 69.375rem;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-neutral900);
    padding: 5rem 4rem;
    border-radius: .625rem;
}

.contact-text {
    color: var(--clr-neutral0);
    flex: 1;
    max-width: 33.75rem;
}

.contact-text h2 {
    margin-block-end: 1.5rem;
}

.contact button {
    flex: 1;
    margin: 8.25rem 4rem;
    max-width: 234px;
}

footer {
    margin-block-start: 3rem;
}





/*------ MEDIA QUERY --------*/

@media (max-width:61rem) {

    body {
        padding-block: 1.5rem;
    }


    main {
        padding-inline: 2rem;
    }

    .solutions {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas:
            "graphic  ui apps"
            "graphic illustrations illustrations"
            "photography motion motion";
    }

    .design-text {
        margin-block: 4rem;
    }

    .about {
        padding-inline: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        margin-block: 5rem;
    }

    .about img {
        width: 300px;
        height: 300px;
    }

    .about-text {
        margin-block-start: 1.5rem;
        text-align: center;
    }

    .about p {
        margin-block: 1.25rem 2rem;
    }




    .contact-wrapper {
        margin-block-start: 5rem;
        margin-inline: 2rem;
    }

    .contact {
        flex-direction: column;

        padding: 4rem 2.5rem;
    }

    .contact-text {
        text-align: center;
    }

    .contact button {
        margin-block: 2.5rem 0;
    }


}


@media (max-width: 32.5rem) {


    main {
        padding-inline: 1rem;
    }


    .solutions {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "graphic graphic"
            "ui apps"
            "illustrations illustrations"
            "photography photography"
            "motion motion";
        gap: 20px;
        margin-inline: auto;
    }

    .about {
        padding-inline: 1rem;
        margin-block: 4rem;
    }

    .about-text {
        margin-block-end: 0;
    }


    .contact-wrapper {
        margin-block-start: 4rem;
        margin-inline: 1rem;
    }

    .contact {
        padding-inline: 2.5rem 1rem;
    }

    footer {
        margin-block-start: 2rem;
    }
}