@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);




:root {

    /*------ COLORS ------*/

    --clr-neutral900: #030303;
    --clr-neutral400: #6A6662;
    --clr-neutral200: #FFF7F0;
    --clr-neutral0: #ffffff;

    --clr-light-red: #E16B5B;
    --clr-galactic-blue: #755CDE;
    --clr-summer-yellow: #F6A560;
    --clr-pink: #F39E9E;
    --clr-cyan: #61C4B7;
    --clr-dark-purple: #552049;


    /* --- Font Family --- */

    --font-family-primary: "Plus Jakarta Sans", sans-serif;


    /* --- Font Weight --- */

    --font-weight-medium: 500;
    --font-weight-bold: 700;


    /* --- Font Size --- */

    --font-size-xxl: 56px;
    --font-size-xl: 40px;
    --font-size-lg: 24px;
    --font-size-md: 18px;
    --font-size-sm: 16px;


    /* --- Line Height --- */

    --line-height-tight: 1.2;
    --line-height-normal: 1.3;
    --line-height-relaxed: 1.5;

}

@media (max-width: 768px) {

    :root {
        --text-preset-1-size: var(--font-size-xl);
        --text-preset-1-line-height: var(--line-height-tight);
    }

}


/*------ CSS RESET START ------*/


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/*------ CSS RESET END ------*/


body {
    margin-block: 2rem 4rem; 
}

h1,
.text-present-1 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-default);
}

h2,
.text-present-2 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-default);
}

h3,
.text-present-3 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-default);
}

p,
.text-present-4 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-md);
    line-height: var(--line-height-relaxed);
    letter-spacing: var(--letter-spacing-default);
}

button,
.text-present-5 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-relaxed);
    letter-spacing: var(--letter-spacing-default);
}


/*------ MAIN ------ */

main {
    padding-inline: 10.3125rem;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: var(--clr-neutral900);
    color: var(--clr-neutral0);
    border-radius: 1.875rem;
    padding: 1rem 3rem;
}

.design-text {
    margin-block: 5rem;
}

.design-text h1 {
    margin-block-end: 1.25rem;
}

.box {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
}


.solutions {
display: grid;
grid-template-columns: 2fr 1fr 1fr 2fr;
grid-template-areas: 
"graphic ui apps photography"
"graphic illustrations illustrations motion";
gap:1.5rem ;
max-width: 69.375rem;
block-size: 364px;
margin-inline: auto;
}

.solutions h3 {
    text-align: start;
}

.solutions img {
   margin-left: auto;
}


.graphic {
    grid-area: graphic;
    background-color: var(--clr-galactic-blue);
   
}

.ui {
    grid-area: ui;
    background-color: var(--clr-summer-yellow);
}

.apps {
    grid-area: apps;
    background-color: var(--clr-pink);
}

.photography {
    grid-area: photography;
    background-color: var(--clr-cyan);
}

.illustrations {
    grid-area: illustrations;
    background-color: var(--clr-light-red);
}

.motion {
    grid-area: motion;
    background-color: var(--clr-dark-purple);
}




